.DS_Store
.env
.env.*
*.log
*.sql
*.sqlite
*.zip
node_modules/
vendor/
wp-config.php
wp-content/uploads/
wp-content/upgrade/
wp-content/cache/
wp-content/debug.log
wp-content/plugins/motopress-hotel-booking/
wp-content/plugins/wp-mail-smtp/
wp-content/plugins/wordpress-seo/
wp-content/plugins/seo-by-rank-math/
wp-content/plugins/akismet/
